.sidebar-info{
    background: #dddddd;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;

    h3{
        margin-top: 5px;
        margin-left: 2px;
        margin-bottom: 0;

        .fa-info {
            border-radius: 15%;
            padding: 7px;
            background: #74D72E;
            color: white;
            width: 25px;
            text-align: center;
            border: none;
            margin-right: 2px;
            height: 17px;
        }
    }
}
