@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://pro.fontawesome.com/releases/v5.10.0/css/all.css);

.block-login{
    .form-login{
        display: flex;
        flex-wrap: wrap;

        .icon {
            padding: 10px;
            background: #c9c9c9;
            color: #555555;
            width: 25px;
            text-align: center;
            border: none;
            margin-top: +1px;
            height: 17px;

        }
        .input-field {
            border: none;
            height: 35px;
            width: 120px;
            outline: none;
            padding-left: 10px;
            margin-right: 4px;
        }
        .fa-chevron-right{
            background: #74D72E;
            color: white;
        }
        
    }
}
